/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
nav, section, footer{
    width: 1440px;
    margin: auto;
}
section{
    padding: 70px 0 70px 0;
}
p{
    font-size: 0.9375rem;
}
.short-copy{
    font-size: 0.625rem;
}
input{
    padding: 0 20px;
}
textarea{
    padding: 10px 20px;
}
button{
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: hsla(36, 81%, 81%, 1);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.25rem;
}
button:hover,
button:active {
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.2);
}

/* ----- HEADINGS ----- */
h1{
    font-size: 5rem;
    width: 647px;
    margin-bottom: 119px;
}
h2{
    font-size: 1.875rem;
}
h3{
    font-size: 1.5625rem;
}

/* ----- Header ----- */
header{
    background-color: hsla(0, 0%, 97%, 1);
}

/* ----- LINKS ----- */
a:link,
a:visited{
    color: hsla(218, 58%, 4%, 0.5);
    font-size: 0.9375rem;
    text-decoration: none;
}
a:hover,
a:active{
    color: hsla(218, 58%, 4%, 1);
}

/* ----- HEADER ----- */
nav{
    display: flex;
    justify-content: flex-end;
}
.group-nav{
    display: flex;
    align-items: center;
    padding: 21px 0;
}
.group-nav>p:first-child{
    color: hsla(218, 58%, 4%, 0.5);
}
.group-nav>p:first-child::after{
    content: "/";
    margin: 0 5px;
    color: hsla(216, 12%, 84%, 1);
}
.group-nav>p:first-child:hover,
.group-nav>p:first-child:active{
    color: hsla(218, 58%, 4%, 1);
}
.group-nav>p:last-child{
    color: hsla(36, 81%, 81%, 1);
    font-weight: 500;
}

/* ----- Contact Form ----- */
.contact-form{
    display: flex;
    flex-direction: column;
    height: 458px;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-bottom: 80px; */
}
.group-form,
button{
    margin-left: 70px;
}
.group-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.email-group{
    display: flex;
    flex-direction: column;
    width: 640px;
}
.email-group>p,
.message-group>p{
    margin-bottom: 10px;
}
.email-group>input{
    width: 337px;
    height: 39px;
    border-radius: 5px;
    border: 1px solid hsla(36, 81%, 81%, 1);
}
.message-group{
    display: flex;
    flex-direction: column;
    width: 640px;
}
.message-group>textarea{
    border-radius: 5px;
    border: 1px solid hsla(36, 81%, 81%, 1);
    resize: none;
}

/* ----- FOOTER ----- */
footer{
    background-color: hsla(36, 81%, 81%, 1);
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}
footer>*{
    margin: 40px 0 40px 70px;
}
.heading{
    font-size: 4.375rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.address{
    width: 285px;
}
.social-media-group{
    display: flex;
    align-items: center;
}
.social-media-group>img{
    margin-right: 20px;
}
.social-media-group>img:last-child{
    margin-right: 0;
}