/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
nav, section{
    width: 1440px;
    margin: auto;
}
section{
    padding: 70px 0 190px 0;
}
p{
    font-size: 0.9375rem;
}
.short-copy{
    font-size: 0.625rem;
}

/* ----- HEADINGS ----- */
h1{
    font-size: 5rem;
    width: 647px;
    margin-bottom: 119px;
}
h2{
    font-size: 1.875rem;
}
h3{
    font-size: 1.5625rem;
}

/* ----- Header ----- */
header{
    background-color: hsla(0, 0%, 97%, 1);
}

/* ----- LINKS ----- */
a:link,
a:visited{
    color: hsla(218, 58%, 4%, 0.5);
    font-size: 0.9375rem;
    text-decoration: none;
}
a:hover,
a:active{
    color: hsla(218, 58%, 4%, 1);
}

/* ----- HEADER ----- */
nav{
    display: flex;
    justify-content: flex-end;
}
.group-nav{
    display: flex;
    align-items: center;
    padding: 21px 0;
}
.group-nav>p:first-child{
    color: hsla(218, 58%, 4%, 0.5);
}
.group-nav>p:first-child::after{
    content: "/";
    margin: 0 5px;
    color: hsla(216, 12%, 84%, 1);
}
.group-nav>p:first-child:hover,
.group-nav>p:first-child:active{
    color: hsla(218, 58%, 4%, 1);
}
.group-nav>p:last-child{
    color: hsla(36, 81%, 81%, 1);
    font-weight: 500;
}