/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

nav, section, footer{
    width: 1440px;
    margin: auto;
}
section{
    padding: 86px 0 150px 0;
}
footer{
    padding: 30px 0;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 35px;
}
ul>li:last-child{
    margin-right: 0;
}
label{
    font-size: 0.9375rem;
}
.short-copy{
    font-size: 0.625rem;
}

/* ----- HEADINGS ----- */
h1{
    font-size: 5rem;
    width: 647px;
    margin-bottom: 119px;
}
h2{
    font-size: 1.875rem;
}
h3{
    font-size: 1.5625rem;
}

/* ----- Header ----- */
header{
    height: 117px;
    box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.25);
}

/* ----- LINKS ----- */
a:link,
a:visited{
    color: hsl(28, 80%, 52%);
    font-size: 1.25rem;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
}
a:hover,
a:active{
    border-bottom: 2px solid hsl(28, 80%, 52%);
    transition: border-bottom 0.2s, color 0.2s;
}

/* ----- Navigation ----- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 88px;
}
.group-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 686px;
}
.branding{
    color: hsla(36, 81%, 81%, 1);
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 90px; 
}
.main-nav a:link,
.main-nav a:visited{
    color: hsla(218, 58%, 4%, 1);   
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
}
.main-nav a:hover,
.main-nav a:active{
    color: hsla(36, 81%, 81%, 1);
}
.main-nav a:active{
    font-weight: 500;
}


/* ----- Property ----- */
.property{
    display: flex;
    flex-direction: column;
    height: 664px;
    flex-wrap: wrap;
}
.col-1{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 234px;
    justify-content: space-between;
    margin-left: 70px;
}
.col-1>hr{
    border: none;
    border-bottom: 1px solid hsla(216, 12%, 84%, 0.5);
    width: 80%;
    margin: 15px auto;
}
.filter-name{
    margin-bottom: 10px;
    font-size: 1.25rem;
}
input[type="checkbox"]{
    margin-right: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.property-type-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
select[id="property-type"]{
    padding: 10px 15px;
    border-radius: 8px;
    width: 156.078px;
    border: 1px solid hsla(36, 81%, 81%, 1);
}
.type-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.group{
    display: flex;
    flex-direction: column;
}
.property>.col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 966px;
    margin-left: 99px;
    margin-right: 69px;
}
.row-1, .row-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.card-properties{
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px 10px;
    position: relative;
}
.content{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
}
.content>h3{
    margin-bottom: 11px;
}
.content>p{
    margin-bottom: 10px;
}
.content>hr{
    margin-bottom: 9px;
}
.facilities{
    display: flex;
    position: relative;
    padding-bottom: 6.5px;
    align-items: center;
    height: 30px;
}
.facilities>img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.bedroom, .bathroom, .living-area{
    padding-top: 5px;
}
.bedroom{
    position: absolute;
    bottom: 0;
}
.bathroom{
    position: absolute;
    bottom: 0;
    left: calc(39px + 33.2812px);
}
.living-area{
    position: absolute;
    bottom: 0;
    left: calc(72.2812px + 76px);
}
.unit{
    font-weight: bold;
    margin-right: 39px;
}
.card-1{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.5), hsla(218, 58%, 4%, 0.5)), url(../img/house-001.jpg);
}
.card-1:hover,
.card-1:active{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.2), hsla(218, 58%, 4%, 0.2)), url(../img/house-001.jpg);
    box-shadow: 5px 8px 4px 0px hsla(0, 0%, 0%, 0.25);
}
.card-2{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.5), hsla(218, 58%, 4%, 0.5)), url(../img/house-002.jpg);
}
.card-2:hover,
.card-2:active{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.2), hsla(218, 58%, 4%, 0.2)), url(../img/house-002.jpg);
    box-shadow: 5px 8px 4px 0px hsla(0, 0%, 0%, 0.25);
}
.card-3{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.5), hsla(218, 58%, 4%, 0.5)), url(../img/house-003.jpg);
}
.card-3:hover,
.card-3:active{
    background-image: linear-gradient(hsla(218, 58%, 4%, 0.2), hsla(218, 58%, 4%, 0.2)), url(../img/house-003.jpg);
    box-shadow: 5px 8px 4px 0px hsla(0, 0%, 0%, 0.25);
}
.card-1:hover h3,
.card-1:active h3,
.card-2:hover h3,
.card-2:active h3,
.card-3:hover h3,
.card-3:active h3{
    color: hsla(160, 100%, 36%, 1);
}
.facilities>img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}